.text-compra {
  color: #97c93e !important;
}

header img {
  width:80px;
}

#footer {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 27%, rgba(14,164,194,1) 100%);
}
#footer a {
  color: white;
}